html {
    background-image: url(https://source.unsplash.com/stwHyPWNtbI);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
body,html{
    font-family: 'Orbitron', sans-serif;
    color:white
}
p{
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}
.container{
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game{
    font-size: 1.5rem;
    text-decoration: underline;
}
.buttons{
    margin: 2% 0;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.selection{
    text-align: center;
}
.outcome{
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.3rem;
}
.finalOutcome h1 {
    font-size: 10rem;
    text-decoration: underline;
    margin: 0;
}
#title {
    padding: 0 2%;
    letter-spacing: 0.4rem;
}